{% extends "base.html" %}
{% load static %}

{% block title %}Grades for {{ results.0.student }} {% endblock %}
{% block content %}
  <div class="container">
    <h3> {{ results.0.student }}</h3>
    <form method="post" action="">
     {% csrf_token %}
      <table>
        <thead>
        <tr>
          <td>Name</td>
          <td>Date</td>
          <td>grade</td>
           <td>Comment</td>
        </tr>
        </thead>
        {% for result in results %}
          <tr>
            <td>{{ result.assignment.name }}</td>
            <td>{{ result.assignment.assignment_date }}</td>
            <td><input type="text" name="grade_student_{{ result.student.pk }}" value="{{ result.grade }}">
              <input type="hidden" name="assignment_result_pk_{{ result.student.pk }}" value="{{ result.pk }}">
            </td>
          <td><input type="text" name="comment_student_{{ result.student.pk }}" value="{{ result.comments }}"></td>
          </tr>
        {% endfor %}
      </table>
    <div class="row">
      <div class="col">
        Lab Average: {{ average_labs }}
      </div>
      <div class="col">
        Exam Average: {{ average_partials }}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
    </form>
  </div>

{% endblock content %}
